.container-fluid {

}
.black-sony-bar {
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
.black-sony-bar img {
    width: 70px;
}
.disabled:hover {
    cursor: pointer;
}
.navbar-nav a {
    color: black;
}
.break-the-c img {
    width: 100%;
}