.container-fluid {

}
.black-sony-bar {
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
.black-sony-bar img {
    width: 70px;
}
.disabled:hover {
    cursor: pointer;
}
.navbar-nav a {
    color: black;
}
  
.jumbo-bg {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.returnal-content {
    color: white;
}
.returnal-box {
    padding-top: 500px;
}